# Switchboard SDK credentials

# Copy this file to .env and fill in your credentials
# We have included demo credentials to make initial development easier.

# Once your app is ready, register it to get your own credentials
# by visiting https://console.switchboard.audio/register

EXPO_PUBLIC_SWITCHBOARD_APP_ID=6a3d8dd7ebf3dccf4de3a8fb
EXPO_PUBLIC_SWITCHBOARD_APP_SECRET=fa05f8fe898aa387b35603539ab7c51623e4b87d
